<link rel="import" href="../ui/custom-divider.html">

<template id="settings-view-theme">
  <style>
    :host {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    h2 {
      margin: 0;
      padding: 8px;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 1400px;
      width: 100%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .group {
      max-width: 320px;
      padding: 6px 12px 12px 12px;
    }
    .line {
      width: 100%;
      min-width: 320px;
      padding: 6px 12px;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      align-items: center;
      height: 48px;
    }
  </style>
  <h2>theme</h2>
  <custom-divider></custom-divider>

  <span class="wrapper">
    <span class="container">
      <!-- <div class="group"> -->
        <!-- <span class="line"> -->
          <select on-change="onchange">

          </select>
        <!-- </span> -->
      <!-- </div> -->
    </span>
  </span>
</template>

<script>
  // TODO: @AndrewVanardennen add more themes https://ace.c9.io/build/kitchen-sink.html
  const themes = [
    {name: 'chrome', type: 'bright'},
    {name: 'clouds', type: 'bright'},
    {name: 'crimson_editor', type: 'bright'},
    {name: 'dawn', type: 'bright'},
    {name: 'dreamweaver', type: 'bright'},
    {name: 'eclipse', type: 'bright'},
    {name: 'github', type: 'bright'}
  ]
  Backed(class SettingsViewTheme extends HTMLElement {
    static get properties() {
      return {
        themes: {
          value: themes,
          observer: 'themesChanged'
        }
      }
    }
    get select() {
      return this.shadowRoot.querySelector('select');
    }
    ready() {
      this.onchange = this.onchange.bind(this)
      this.select.addEventListener('change', this.onchange);
      const config = JSON.parse(localStorage.getItem('purr-editor-settings::theme'));
      if (config) {
        this.select.value = config.theme;
      }
    }
    onchange(event) {
      const theme = this.select.value;
      let data = JSON.parse(localStorage.getItem('purr-editor-settings::theme'));
      if (data) {
        data.theme = theme;
      } else {
        data = {
          theme: theme
        }
      }

      localStorage.setItem('purr-editor::config', JSON.stringify(data));
    }
    themesChanged() {
      for (const item of this.themes) {
        let optgroup = this.select.querySelector('optgroup[label="'+ item.type +'"]')
        if (!optgroup) {
          optgroup = document.createElement('optgroup');
          optgroup.setAttribute('label', item.type);
          this.select.appendChild(optgroup)
        }
        let option = document.createElement('option');
        // item = item.replace(/"/g, '');
        option.value = item.name;
        option.innerHTML = item.name;
        optgroup.appendChild(option);
        // if (response.indexOf(`"${item}"`) === 0)
      }
      this.select.dispatchEvent(new CustomEvent('change'));
    }
  })
</script>
