<link rel="import" href="../ux/custom-pages.html">
<link rel="import" href="../ux/custom-selector.html">
<link rel="import" href="settings-view-general.html">
<link rel="import" href="settings-view-theme.html">
<link rel="import" href="settings-view-keymaps.html">

<template id="settings-view">
  <style>
    :host {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
    }
    .drawer {
      display: flex;
      flex-direction: column;
      width: 192px;
      height: 100%;
      border-right: solid #eee 1px;
      box-sizing: border-box;
      --custom-button-padding: 12px;
    }
    h2 {
      margin: 0;
      padding: 8px;
      border-bottom: solid #eee 1px;
    }
  </style>

  <div class="drawer">
    <custom-selector attr-for-selected="name" on-custom-selected-change="_updateRoute">
      <custom-button disable-stop-propagation name="general" no-shadow>general</custom-button>
      <custom-button disable-stop-propagation name="theme" no-shadow>theme</custom-button>
      <custom-button disable-stop-propagation name="keymaps" no-shadow>keymaps</custom-button>
    </custom-selector>
  </div>

  <custom-pages attr-for-selected="name">
    <settings-view-general name="general"></settings-view-general>
    <settings-view-theme name="theme"></settings-view-theme>
    <settings-view-keymaps name="keymaps"></settings-view-keymaps>
  </custom-pages>

</template>

<script>
  Backed(class SettingsView extends HTMLElement {

    get pages() {
      return this.shadowRoot.querySelector('custom-pages')
    }

    ready() {
      customElements.whenDefined('custom-pages').then(() => {
        this.selected = localStorage
          .getItem('purr-editor::last-selected-setting') || 'general';
        this.pages.select(this.selected);
      })

      // this.pages.select(route);
    }

    _updateRoute(event) {
      window.location.hash = '#!/settings/' + event.detail.getAttribute('name');
      localStorage.setItem('purr-editor::last-selected-setting', event.detail.getAttribute('name'));
      this.pages.select(event.detail.getAttribute('name'));
    }
  })
</script>
